{% extends 'core/base.html' %}

{% block title %}Search | {% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            <div class="content is-medium">
                                <h2>Search results for query "{{ query }}":</h2>
                                <!-- <h3 style="margin-top: 0px;"></h3> -->
                                <hr>
                            </div>

                            {% for post in posts %}
                            <p style="font-style: italic;">Article {{forloop.counter}}</p>
                                <div class="content is-medium">
                                    <a href="{% url 'post_detail' post.category.slug post.slug %}">
                                        <h2 class="subtitle is-6" style="margin-bottom: 0px;"> <i class="fas fa-stopwatch"></i> {{ post.created_at|timesince }} ago</h2>
                                        <h1 class="title" style="font-family: 'Monument Extended', sans-serif; margin: 10px 0px;" >{{ post.title }}</h1>
                                        <p style = "color:maroon"><strong>{{ post.intro }}</strong></p>
                                    </a>
                                </div>
                            {% empty %}
                                <div class="content">
                                    <p>No result for the given query...</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}